@import '~bootstrap/scss/bootstrap';
@import 'themes';

$alt-color: $cyan;
$body-bg-color: $gray-200;
$font-color: $light;
$deep-purple: #4f0882;

body {
  background-color: $body-bg-color;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}


h1 {
  color: dark gray;
  font-family: inherit;
  padding-top: 20px;
  text-align: center;
}

h5 {
  align-items: right;
  text-align: right;
}

input {
  margin: 4px 0;
}

form {
  margin: 2px 50px;
  padding: 2px;
}

label {
  align-items: baseline;
  text-align: left;
}

td {
  color: red;
  font-family: fantasy;
  width: 50%;
}

p {
  color: darkgray;
  padding: 20px;
  text-align: left;
}

table {
  width: 100%;
}

.bg-image {
  background-image: url('public/images/alaskaGlacier.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

}

.bg-image2 {
  background-image: url('public/images/yellowStone.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.create-view-button {
  margin: 10px;
  padding: 10px;
}

.center {
  align-items: center;
  text-align: center;
}

.centertop {
  text-align: center;
  // vertical-align: top;
  vertical-align: top;
}

.create-bucket {
  align-items: baseline;
  background-color: #ffffff;
  opacity: .9;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  width: 75%;

  h5 {
    color: red;
    text-align: center;
  }
  input[type=text], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 4px 0;
    padding: 8px 10px;
    width: 100%;
  }
  button {
    align-items: center;
    text-align: center;
  }
}

.update-bucket {
  align-items: baseline;
  background-color: white;
  font-family: fantasy;
  padding: 5px;
  text-align: left;
  vertical-align: top;
  width: 100%;

  button {
    align-items: center;
    text-align: center;
  }

  h5 {
    text-align: center;
    color: red;
  }
  input[type=text], textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin: 4px 0;
    padding: 8px 10px;
    width: 100%;
  }

  label {
    color: red;
  }

}

.head-title {
  color: #060c52;
  font-family: cursive;
  font-size: 10rem;
  text-shadow: 2px 2px white;
}

.text {
  align-items: center;
  color: #363740;
  font-family: cursive;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 3px 3px white;
}

.hide {
  display: none;
}

.inline {
  align-content: center;
  display: inline-block;
  text-align: center;
}

.message-header {
  text-align: center;
}

.my-account {
  font-size: .75em;
  text-align: right;
}

.right-align {
  align-items: right;
  text-align: right;
}

.sign-in-button {
  border: 0;
  font-family: cursive;
  text-align: center;
}

.sign-in {
  margin: 10px;
  padding: 40px;
}

// .update-bucket {
//   align-items: left;
//   margin: 4px 0;
//   text-align: left;
// }

.message-container {
  bottom: 5rem;
  left: 25rem;
  margin: auto;
  max-width: 500px;
  position: fixed;
  z-index: 1;
}
